<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- @author li, bai,qiang -->
<mapper namespace="com.moba.mapper.NewsContentMapper">

    <resultMap id="newsContentResultForList" type="NewsContent">
        <result column="ID" property="id" jdbcType="INTEGER"/>
        <result column="CONTENT" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <resultMap id="newsContentResult" extends="newsContentResultForList" type="NewsContent">
    </resultMap>

    <sql id="sf-newsContent">
        <if test="id != null">AND a.ID = #{id}</if>
        <if test="content != null">AND a.CONTENT = #{content}</if>
    </sql>

    <select id="selectEntity" resultMap="newsContentResult">
        select * from news_content a where 1 = 1
        <include refid="sf-newsContent"/>
    </select>

    <select id="selectEntityList" resultMap="newsContentResultForList">
        select * from news_content a where 1 = 1
        <include refid="sf-newsContent"/>
        order by a.ID desc
        <if test="row.count != null and row.count != ''">limit 0, ${row.count}</if>
    </select>

    <select id="selectEntityCount" resultType="int">
        select count(*) from news_content a where 1 = 1
        <include refid="sf-newsContent"/>
    </select>

    <select id="selectEntityPaginatedList" resultMap="newsContentResult">
        select * from news_content a where 1 = 1
        <include refid="sf-newsContent"/>
        order by a.ID desc
        <if test="row.count != null and row.count != ''">limit ${row.first}, ${row.count}</if>
    </select>

    <insert id="insertEntity" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[insert into news_content (]]>
        <trim suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="content != null">CONTENT,</if>
        </trim>
        <![CDATA[) values (]]>
        <trim suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="content != null">#{content},</if>
        </trim>
        <![CDATA[)]]>
    </insert>

    <update id="updateEntity">
        update news_content
        <set>
            <if test="id != null">ID = #{id},</if>
            <if test="content != null">CONTENT = #{content},</if>
        </set>
        <where>
            <if test="id != null">ID = #{id}</if>
            <if test="map.pks != null">
                ID in
                <foreach collection="map.pks" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </update>

    <delete id="deleteEntity">
        delete from news_content where 1 = 1
        <if test="id != null">AND ID = #{id}</if>
        <if test="map.pks != null">
            AND ID in
            <foreach collection="map.pks" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </delete>

</mapper>