<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- @author liu,jia -->
<mapper namespace="com.moba.mapper.ModPopedomMapper">

	<resultMap id="modPopedomResultForList" type="ModPopedom">
		<result column="ID" property="id" jdbcType="INTEGER" />
		<result column="MOD_ID" property="modId" jdbcType="INTEGER" />
		<result column="USER_ID" property="userId" jdbcType="INTEGER" />
		<result column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
		<result column="PPDM_CODE" property="ppdmCode" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="modPopedomResult" extends="modPopedomResultForList" type="ModPopedom">
	</resultMap>

	<sql id="sf-modPopedom">
		<if test="id != null"> AND a.ID = #{id}</if>
		<if test="modId != null"> AND a.MOD_ID = #{modId}</if>
		<if test="userId != null"> AND a.USER_ID = #{userId}</if>
		<if test="roleId != null"> AND a.ROLE_ID = #{roleId}</if>
		<if test="ppdmCode != null and ppdmCode != ''"> AND a.PPDM_CODE = #{ppdmCode}</if>
	</sql>

	<select id="selectEntity" resultMap="modPopedomResult" >
		select * from mod_popedom a where 1 = 1
		<include refid="sf-modPopedom" />
	</select>

	<select id="selectEntityList" resultMap="modPopedomResultForList">
		select * from mod_popedom a where 1 = 1
		<include refid="sf-modPopedom" />
		order by a.ID desc
		<if test="row.count != null and row.count != ''">limit 0, ${row.count}</if>
	</select>

	<select id="selectEntityCount" resultType="int">
		select count(*) from mod_popedom a where 1 = 1
		<include refid="sf-modPopedom" />
	</select>

	<select id="selectEntityPaginatedList" resultMap="modPopedomResult">
		select * from mod_popedom a where 1 = 1
		<include refid="sf-modPopedom" />
		order by a.ID desc
		<if test="row.count != null and row.count != ''">limit ${row.first}, ${row.count}</if>
	</select>

	<insert id="insertEntity" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[insert into mod_popedom (]]>
		<trim suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="modId != null">MOD_ID,</if>
			<if test="userId != null">USER_ID,</if>
			<if test="roleId != null">ROLE_ID,</if>
			<if test="ppdmCode != null">PPDM_CODE,</if>
		</trim>
		<![CDATA[) values (]]>
		<trim suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="modId != null">#{modId},</if>
			<if test="userId != null">#{userId},</if>
			<if test="roleId != null">#{roleId},</if>
			<if test="ppdmCode != null">#{ppdmCode},</if>
		</trim>
		<![CDATA[)]]>
	</insert>

	<update id="updateEntity">
		update mod_popedom
		<set>
			<if test="id != null">ID = #{id},</if>
			<if test="modId != null">MOD_ID = #{modId},</if>
			<if test="userId != null">USER_ID = #{userId},</if>
			<if test="roleId != null">ROLE_ID = #{roleId},</if>
			<if test="ppdmCode != null">PPDM_CODE = #{ppdmCode},</if>
		</set>
		<where> 
		<if test="id != null">ID = #{id}</if>
		<if test="map.pks != null">
		  ID in 
		  <foreach collection="map.pks" index="index" item="item" open="(" separator="," close=")">
		   #{item}
		  </foreach>
		 </if> 
		</where>
	</update>

	<delete id="deleteEntity">
		delete from mod_popedom where 1 = 1
		<if test="id != null"> AND ID = #{id}</if>
		<if test="map.pks != null">
		  AND ID in 
		  <foreach collection="map.pks" index="index" item="item" open="(" separator="," close=")">
		   #{item}
		  </foreach>
		</if> 
	</delete>

</mapper>